{
  "presets": [
    "@babel/env",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/plugin-transform-spread",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-duplicate-keys",
    "@babel/plugin-transform-shorthand-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-arrow-functions"
  ]
}
